		.mensajeErrorModal {
			text-align: center;
			color: white;
			width: 97%;
			background: #de5d69;
			padding: 7px;
			border-radius: 3px;
			display: none;
		}
		.boton {
			padding: 8px 12px;
    		border-radius: 2px;
    		background-color: #4c9ea3;
    		box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    		color: #fff;
    		transition: background-color 15ms linear, box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    		font-family: Roboto, sans-serif;
    		font-weight: 500;
    		text-decoration: none;
    		border-style: none;
    		margin: center;
    		margin-top: 10px;
    		width: 45%;			
		}
		.boton:hover {
			cursor: pointer;
		}

		.modal {
			display: none; 
			width: 100vw; 
			height: 100vh; 
			background-color: rgba(0,0,0,0.5);
			align-items: center; 
			justify-content: center; 
			top: 0; z-index: 99;

		}
		.form{
			display: flex; flex-direction: column; padding: 50px; background-color: white;
			border-radius: 6px;
		}
		.form select{  /*form#fmodalA*/
			min-width: 200px;
		}
		.form p{
			margin-top: 10px;
		}
		.input{
			padding: 10px;
			text-align: center;
			margin-top: 10px;
		}
		.contenedor{
			display: flex;
			flex-direction: column;
		}
		.botones{
			display: flex;
			justify-content: space-around;
		}